* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Calibri";
  overflow-x: hidden;
  background-color: rgb(234, 237, 237);
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131921;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(234, 237, 237, 0.473);
}
